<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bili.mybatisplusdemo.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bili.mybatisplusdemo.entity.Student">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, name
    </sql>

    <insert id="insertWithXml" parameterType="com.bili.mybatisplusdemo.entity.Student">
        insert into t_student(no,name)
        values(#{no},#{name})
    </insert>

    <update id="updateWithXml">
        update t_student
        <set>
            no=#{no},name=#{name}
        </set>
        where id=#{id}
    </update>

    <select id="selectByIdWithXml" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from t_student
        where id=#{id}
    </select>

    <select id="selectIdListWithXml" resultType="java.lang.Integer">
        select id
        from t_student
    </select>

</mapper>
